<h1>List of Contacts</h1>
<p>		Daniel Kodeih <br />
		CEO of Super Awesome Animal Site
		12914 Partridge Bend Dr. <br />
		San Antonio, Tx, 78249	<br /><br />
		Phone:(210) 917 - 0614 <br />
		Fax: (210) 927 - 7254 <br />
		Email: SAnimals@gamil.com <br /><br />
		
		Best way to contact us is by email is you have any questions and one of our associates will email you back less than or within one business day! 
		
		</p>
