<h1>What we are all about!</h1>
<p> We are a group thriving to help helpless animals.  On our site many animal lovers can
 search through our entries and choose the animal he or she wants.  The main way this site works is once 
 a user has created their own account s/he can upload an entry on any animal they are looking to give away. 
  Accounts can be created my groups, animal shelters or just anyone looking to buy or give away, think of our
   as a craigslist for animal!  If you have any questions visits our Q&A page located under the menu slide bar
    or send us an email and a representative will email you back in no more than 1 business day.</p>
